
 .nav-item {
  margin: 0 1rem;
  padding: 0.3rem;
  &:nth-child(1) {
    margin-right: auto;
  }
 }

 @keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


 nav {
  width: 100%;
  min-width: 320px;

}

 .new-nav {
  background-color: black;
  top: 0;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  animation-name: fadeIn;
  padding: 0rem!important;
}

.nav-link {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1rem;
  position: relative;
  transition: all 0.4s;
}

.nav-link:hover,
.nav-link:focus {
  color: #fff;
}

.nav-link::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: var(--verde-logo);
  position: absolute;
  left: 0;
  bottom: -1px;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}

.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
}
