
 .nav-item {
  margin: 0 1rem;
  padding: 0.3rem;
  &:nth-child(1) {
    margin-right: auto;
  }
 }



 @keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


 nav {
  /* position: relative;
  display: flex;
  flex-direction: column; */
  width: 100%;
  min-width: 320px;
/*   background-color: violet;
  padding-right: 10px; */
}
/*
nav img {
  width: 130px;
  height: 60px;
  margin-top: 60px;
  align-self: center;
}
 */

 .new-nav {
  background-color: black;
  top: 0;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  animation-name: fadeIn;
  padding: 0rem!important;
}

/*  .banner-image { */
 /*  background-image: url('/assets/img/slider-principal/photo1.jpeg') ; */
/*   background-size: cover;
  background-color: rgb(167, 24, 185) ;
  background-blend-mode: soft-light;


 } */




/* .img_logo {
   width: 170px;
   margin-left: 65px;
}
 */

/*  .carousel-item img {
  background-color: black;
  background-blend-mode: soft-light;
  display: flex;
  background-size: cover;
  background-image:
  linear-gradient( rgba(0,0,0, 0.5) rgba(0,0,0, 0.5) )
 } */

/*  .banner-image {
  background-image: url('/assets/img/slider-principal/photo1.jpeg');
  background-color: rgb(80, 80, 80);
  background-blend-mode: soft-light;



 } */


/*  nav ul li a:hover {
  color: var(--verde-logo);
  transition: .9s;
} */

.nav-link {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1rem;
  position: relative;
  transition: all 0.4s;
}

.nav-link:hover,
.nav-link:focus {
  color: #fff;
}

.nav-link::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: var(--verde-logo);
  position: absolute;
  left: 0;
  bottom: -1px;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}

.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
}
