
.second-section {
  background: #8bc349;
}

.icono-areas-comunes {
  margin-right: 15px;
 font-size: 2rem;
}

.txt-black {
  color: var(--just-white)
}

.thrid-section .row {
  margin: 0;
}

.thrid-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

#project_general_info .project-info {
  margin-top: -50px;
  z-index: 1;
  position: relative;
  background: #fff;
  padding: 10px;
  border: 1px solid #000;
}

#project_general_info .project-info .uk-grid {

  display: flex;
  justify-content: space-around;
}

#project_general_info .project-info .uk-col-project-info {
  position: relative;
}

#project_general_info .project-info .uk-col-project-info .uk-card {
  display: flex;
}

#project_general_info .project-info .uk-col-project-info .uk-card .card-cont {
  display: flex;
  align-items: center;
  margin-left: 0px;
}

#project_general_info .project-info .uk-col-project-info .uk-card .card-cont .text p.medium {
  font-family: "Roboto",Arial,Helvetica,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #111820;
  margin-top: 26px;
}

#project_general_info .project-info .uk-col-project-info .uk-card .card-cont .img {
  padding-right: 8px;
  width: 50px;
  display: inline-flex;
}

#project_general_info .project-info .uk-col-project-info:not(.uk-first-column):before {
  content: "";
  display: flex;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 11%;
  width: 1px;
  background: #8bc349;
  height: 80%;
  margin-left: -60px
}




#project_general_info .project-info .uk-col-project-info .uk-card .card-cont .text p.small {
  font-family: "Roboto",Arial,Helvetica,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #111820;
  margin-bottom: 0px;
  margin-top: 5px;
}

#project_general_info .project-info .uk-col-project-info .uk-card .card-cont .text p.big {
  font-family: "Roboto",Arial,Helvetica,sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  color: #111820

}
/* Cuadro del medio Fin */

.main-banner {
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 500px;
}

 .img-banner {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
}

.img-banner:before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}

.d-md-block {
  display: block !important;
}

.main-banner .content-servicios {
  width: 100%;
  max-width: 350px;
  padding: 250px 0;
}

.text-wrapper .title-servicios {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
}

.text-wrapper .subtitle_parrafo {
  padding-top: 15px;
  font-size: 2.0rem;
  font-weight: 400;
  line-height: 60px;
}

.color_white {
  color: var(--just-white);
}

.iconos-servicios {
  margin-top: -30px;
}

.global__title-proyecto {
  font-family: "Poppins",sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
}


.project-info {
  position: relative;
}

.uk-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.uk-child-width-1-2>* {
  width: 50%;
}

.uk-grid-collapse, .uk-grid-column-collapse {
  margin-left: 0px;
}

.uk-padding-remove-top {
  padding-top: 0!important;
}

.icons-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
  padding-left: 19px;
}

.card-cont-icons {
  color: var(--warm-black);
}

/* ==========imagenes  slider  secction ========= INICIO*/
.corousel-imgs img {
  width: 100%;
  height: 485px;
  object-fit: cover;
}

.dividir-filas2 {
  display: none
}

.container-fotos .row .row-imgs-responsive {
  width: 50%;
  padding: 0;
}

.container-fotos .row .row-texts-responsive {
  width: 50%;
  padding: 0;
  background-color: #54595F;
}

.elemento-widget-wrap {
  align-content: center;
    align-items: center;
    padding: 4% 0% 0% 0%
}

.text-mitad-pantalla {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.3em;
    letter-spacing: 1.5px;
}

.text-mitad-pantalla-container {
  padding: 0% 0% 0% 5%;
}

.text-mitad-pantalla h2 {
  font-size: 20px;
}

.text-mitad-pantalla-parrafo {
  color: #FFFFFF;
    font-size: 15px;
}

.text-mitad-pantalla-parrafo-container {
  margin: -4% 0% -8% 0%;
    padding: 6% 5% 0% 5%;
}

.elementor-widget:not(:last-child):after {
  margin-bottom: 20px;
}

.text-mitad-pantalla-parrafo p {
  margin-top: 0;
  margin-bottom: 0.9rem;
}

.text-mitad-pantalla-listas-container {
  margin: 0px 0px 0px 0px;
  padding: 90px 30px 30px 30px;
}

.elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(10px/2);
}

.elementor-icon-list-icon {
  text-align: var(--e-icon-list-icon-align);
}

.elementor-icon-list-item .elementor-icon-list-text {
  display: inline-block;
}

.elementor-icon-list-icon+.elementor-icon-list-text {
  align-self: center;
  padding-left: 5px;
}

.text-mitad-pantalla-listas .elementor-icon-list-item {
  display: flex;
  font-size: inherit;
  align-items: var(--icon-vertical-align,center);
}

.elementor-icon-list-icon i {
  color: #8DC73D;
  transition: color 0.3s;
}

.elementor-icon-list-text {
  color: #FFFFFF;
  transition: color 0.3s;
}

.elementor-icon-list-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ==========imagenes  slider  secction ========= FIN*/

@media only screen and (max-width: 480px) {

  #project_general_info .project-info {
      margin-top: 30px;
      position: relative;
      padding-bottom: 30px;
      margin-right: -10px;
      margin-left: -10px;
  }

  #project_general_info .project-info .uk-col-project-info .uk-card {
    padding: 10px 5px;
  }

  #project_general_info .project-info .uk-col-project-info .uk-card .card-cont {
    margin: 0;
    margin-left: 14px;
  }


  #project_general_info .project-info .uk-col-project-info .uk-card .card-cont .text p.small {
    font-size: 0.999rem;
    font-family: sans-serif;
  }

  #project_general_info .project-info .uk-col-project-info .uk-card .card-cont .text p.medium {
    font-size: 0.999rem;
    font-family: sans-serif;
    font-weight: bold;
  }

  #project_general_info .project-info .uk-col-project-info .uk-card .card-cont .text p.big {
    font-size: 0.999rem;
    font-family: sans-serif;
  }

  #project_general_info .project-info .uk-col-project-info .uk-card .card-cont .img {
    width: 30px;
  }

  #project_general_info .project-info .uk-col-project-info:not(.uk-first-column):before {
    all: unset;
  }

  #project_general_info .project-info {
    margin-top: 0;
  }

  #project_general_info .project-info .uk-grid {
    margin-right: 6px;
  }

  .text-wrapper .title-servicios {
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 10px;
    margin-bottom: -30px
  }

  .text-wrapper .subtitle_parrafo {
    max-width: 100%;
    padding-top: 0px;
    font-size: 20px;
    text-align: center;
  }

  .dividir-filas {
    display: none;
  }

  .icono-areas-comunes {
    margin-right: 5px;
    font-size: 1.2rem;
  }

  .txt-black {
    color: var(--just-white);
    line-height: 15px;
  }

  .second-section {
    padding-top: 30px;
  }

  .card-cont-icons {
    font-size: 1.5rem;
  }


/*   .container-align {
    margin-left: 50px;
  } */

  #project_general_info .project-info .uk-col-project-info {
    width: 50%;
  }

  #project_general_info .project-info .uk-col-project-info .uk-card .card-cont {

      margin: 0 auto;
   }

}




@media (min-width: 320px) and (max-width: 575px) {

  .text-mitad-pantalla-listas-container {
    padding: 40px 30px 30px 30px;
  }
}

@media (min-width: 360px) and (max-width: 575px) {
  .icons-content {
    padding-left: 50px;
  }
}



@media (min-width: 481px) and (max-width: 959px) {

  #project_general_info .project-info .uk-col-project-info .uk-card .card-cont {
  /*   display: flex;
    align-items: center; */
    margin: 0 auto;
  }

  #project_general_info .project-info .uk-col-project-info {
      /* position: relative; */
      width: 50%;
  }

  #project_general_info .project-info .uk-col-project-info:not(.uk-first-column):before {
    margin-left: 0px;
    background: transparent;
  }

  #project_general_info .project-info .uk-col-project-info:not(.line-delete):before {
    background: var(--verde-logo);
  }



  /* .line-delete {
    all: unset;
  } */
}

@media (min-width: 480px) and (max-width: 991px) {

  .text-wrapper .title-servicios, .subtitle_parrafo {

    text-align: center;
  }


}

@media (min-width: 768px) and (max-width: 992px) {
  #project_general_info .project-info .uk-col-project-info:not(.uk-first-column):before {
    margin-left: -20px;
  }
}



 @media only screen and (max-width: 1024px) {
  /* imagenes  slider secction INICIO*/
  .container-fotos .row .row-imgs-responsive {
    width: 100%;
    padding: 0;
  }

  .container-fotos .row .row-texts-responsive {
    width: 100%;
  }
  /* imagenes slider secction FIN*/
}


