<app-nav></app-nav>
<section class="main-banner">
  <div class="container">
    <div class="content-wrapper">
      <h1 class="global__title-proyecto white mb-4">Vive en el centro de la ciudad</h1>
    </div>
  </div>
  <img width="1280" height="767" src="/assets/img/cards-casas/casa-lara/cuarto-grande-slide1.JPEG"
    class="img-banner d-none d-md-block" alt="..." sizes="(max-width: 1280px) 100vw, 1280px">
</section>

<section id="project_general_info" class="second-section">
  <div class="container uk-padding-remove-top">
    <div class="uk-container">
      <div class="project-info">
        <div class="uk-grid-collapse  uk-grid">
          <div class="uk-col-project-info uk-first-column">
            <div class=" uk-card uk-card-small uk-card-body">
              <div class="card-cont">
                <div class="img">
                  <i class="card-cont-icons fa-solid fa-location-dot fa-2xl"></i>
                </div>
                <div class="text">
                  <p class="medium"> Jr. Lara Cuadra 10</p>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-col-project-info">
            <div class="uk-card uk-card-small uk-card-body">
              <div class="card-cont">
                <div class="img">
                  <i class="card-cont-icons fa-solid fa-chart-area fa-2xl"></i>
                </div>
                <div class="text">
                  <p class="small">
                    Área
                  </p>
                  <p class="big">
                    121m²
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-col-project-info">
            <div class="uk-card uk-card-small uk-card-body">
              <div class="card-cont">
                <div class="img">
                 <i class="card-cont-icons fa-solid fa-bed fa-2xl"></i>
                </div>
                <div class="text">
                  <p class="small">
                    Dormitorios
                  </p>
                  <p class="big">
                    7
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-col-project-info">
            <div class="uk-card uk-card-small uk-card-body">
              <div class="card-cont">
                <div class="img">
                  <i class="card-cont-icons fa-solid fa-money-check-dollar fa-2xl" ></i>
                </div>
                <div class="text">
                  <p class="small">
                    Precio
                  </p>
                  <p class="big">
                    S/650 mil
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!--   =============Franja verde ================ -->

      <div class="content-servicios">
        <div class="row align-items-center">
          <div class="col-lg-6 my-5">
            <div class="text-wrapper">
              <h2 class="title-servicios color_white">
                Jr. Lara Cuadra 10
              </h2>
              <p class="subtitle_parrafo color_white">
                Vive en el centro de la ciudad
              </p>
            </div>
          </div>
          <div class="col-lg-6 iconos-servicios">

            <div class="container">
              <div class="row">

                <div class="col-6 col-sm-3 icons-content">
                  <i class="icono-areas-comunes fa-solid fa-store"></i>
                  <div class="txt-black">
                    2 tiendas
                  </div>
                </div>
                <div class="col-6 col-sm-3 icons-content">
                  <i class="icono-areas-comunes fa-solid fa-bed"></i>
                  <div class="txt-black">
                    7 dormitorios
                  </div>
                </div>

                <div class="col-6 col-sm-3 icons-content">
                  <i class="icono-areas-comunes fa-solid fa-location-dot"></i>
                  <div class="txt-black">
                    a 2 cuadras del mercado
                  </div>
                </div>
                <!-- Force next columns to break to new line -->
                <div class="w-100  dividir-filas"></div>

                <div class="col-6 col-sm-3 icons-content">
                  <i class="icono-areas-comunes bi bi-rulers"></i>
                  <div class="txt-black">
                    9m x 13m
                  </div>
                </div>

                <div class="col-6 col-sm-3 icons-content">
                  <i class="icono-areas-comunes fa-solid fa-panorama"></i>
                  <div class="txt-black">
                    azotea
                  </div>
                </div>

                <div class="col-6 col-sm-3 icons-content">
                  <i class="icono-areas-comunes fa-solid fa-fire-burner"></i>
                  <div class="txt-black">
                    cocina comedor
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section id="section_info" class="thrid-section">
        <div class="container-fotos">
          <div class="row">
            <div class="col-6 col-sm-3  row-imgs-responsive">

              <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner corousel-imgs">
                  <div class="carousel-item active">
                    <img class="slider-img" src="/assets/img/cards-casas/casa-lara/casa_jrLara_f_1.JPEG" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img class="slider-img" src="/assets/img/cards-casas/casa-lara/casa_jrLara_f_2.JPEG" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img class="slider-img" src="/assets/img/cards-casas/casa-lara/casa_jrLara_f_3.JPEG" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img class="slider-img" src="/assets/img/cards-casas/casa-lara/casa_jrLara_f_4.JPEG" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img class="slider-img" src="/assets/img/cards-casas/casa-lara/casa_jrLara_f_5.JPEG" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img class="slider-img" src="/assets/img/cards-casas/casa-lara/casa_jrLara_f_6.JPEG" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>


            <!-- Force next columns to break to new line -->
            <!-- <div class="w-100"></div> -->

            <div class="col-6 col-sm-3 row-texts-responsive">
              <div class="elemento-widget-wrap">
                <div class="text-mitad-pantalla">
                  <div class="text-mitad-pantalla-container">
                    <div class="text-editor">
                      <h2>Características</h2>
                    </div>
                  </div>
                </div>

                <div class="text-mitad-pantalla-parrafo elementor-widget" data-element_type="widget">
                  <div class="text-mitad-pantalla-parrafo-container">
                    <div class="text-editor">
                      <p>
                        La casa ubicada en Jirón Lara Cuadra 10, tiene un área de terreno de 121 m2, con una frontera de 9 metros y fondo de 13 metros. La propiedad está ubicada en el centro de la ciudad, a tan solo dos cuadras y media del Mercado Central. Se caracteriza por estar diseñada para vivienda, es un bonito lugar para que vivas con tu familia. Su excelente ubicación te permite llegar a pie y con tranquilidad a cualquier punto de la ciudad. ¡Disfruta de una vida más fácil y agradable! La casa está inscrita en Registros Públicos, lista para transferencia inmediata.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="text-mitad-pantalla-listas">
                  <div class="text-mitad-pantalla-listas-container">
                    <ul class="elementor-icon-list-items">
                      <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-icon">
                          <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="elementor-icon-list-text"> Primer piso: dos tiendas, una cocina comedor, una sala con baño, una habitación con baño, una habitación simple. </span>
                      </li>
                      <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-icon">
                          <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="elementor-icon-list-text"> Segundo piso: dos habitaciones a la calle con mamparas con baño, tres habitaciones simples y un baño común. </span>
                      </li>
                      <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-icon">
                          <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="elementor-icon-list-text"> Tercer piso: azotea. </span>
                      </li>
                    </ul>
                  </div>
                </div>


              </div>


            </div>

          </div>
        </div>
</section>

<app-footer></app-footer>
