<!----------------------------==========::::::::::::: VENTA CASAS======= --------------------------:-->
<section id="casas-section" class="casas-class-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5">
            <h3 class="global__title text-center"> Casas en Venta</h3>
           <!--  <p class="global-sub-title text-center">Encuentra la casa ideal para tu familia</p> -->
          </div>
        </div>
      </div>

      <div class="row carousel justify-content-center">
        <div class="col-12 col-md-6 col-lg-3 elemento" data-aos="fade-up"  data-aos-duration="1500">
          <!-- <a routerLink='/casa-lara' [routerLinkActive]="'active'"  class="item-project"> -->
            <a [routerLink]="[ '/casa-lara' ]" [routerLinkActive]="'active'"  class="item-project">

            <div class="card text-center">
              <img src="/assets/img/cards-casas/casa-lara/lara2.jpg" alt="casa-lara" class="img-fluid rounded-cirle img-card">
              <img src="/assets/img/direcciones/mercado-central.svg" width="246" height="73" class="logo-project" alt="casa Lara" decoding="async" loading="lazy">
              <div class="card-body">
                <h1 class="card-title">Casa</h1>
                <p class="card-sub-title">7 Habitaciones</p>
                <p class="card-info">Jr. Lara Cdra 10</p>
                <button class="car-btn">Más información</button>
              </div>
            </div>
          </a>
        </div>

            <div class="col-12 col-md-6 col-lg-3 elemento" data-aos="fade-up"  data-aos-duration="1500">
              <!-- <a routerLink='/casa-tacshana' [routerLinkActive]="'active'"  class="item-project"> -->
                <a [routerLink]="[ '/casa-tacshana' ]" [routerLinkActive]="'active'"  class="item-project">
                <div class="card text-center">
                  <img src="/assets/img/cards-casas/casa-tacshana/tacshana2.jpg" alt="casa Tacshana" class="img-fluid rounded-cirle img-card">
                  <img src="/assets/img/direcciones/tacshana.svg" width="246" height="73" class="logo-project" alt="casa Tacshana" decoding="async" loading="lazy">
                  <div class="card-body2">
                    <h1 class="card-title">Casa</h1>
                    <p class="card-sub-title">5 Habitaciones</p>
                    <p class="card-info">Jr. Prolongación La Torre N° 140</p>
                    <button class="car-btn">Más información</button>
                  </div>
                </div>
              </a>
            </div>
      </div>
    </div>
</section>

<!----------------------------==========::::::::::::: VENTA LOTES======= --------------------------:-->
<!-- <section id="lotes-section" class="casas-class-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center pb-5">
          <h3 class="global__title text-center"> Lotes en Venta</h3>
        </div>
      </div>
    </div>

    <div class="row carousel"> -->
    <!-- <div class="row justify-content-center"> -->

<!--           <div class="col-12 col-md-6 col-lg-3 elemento" data-aos="fade-up"  data-aos-duration="1000">
            <a href='#' class="item-project">
              <div class="card text-center">
                <img src="/assets/img/cards-casas/casa-lara/lara.JPEG" alt="casa-lara" class="img-fluid rounded-cirle img-card">
                <img src="/assets/img/direcciones/cungunday.svg" width="246" height="73" class="logo-project" alt="logo audacity" decoding="async" loading="lazy">
                <div class="card-body3">
                  <h1 class="card-title">Casa</h1>
                  <p class="card-sub-title">7 Habitaciones</p>
                  <p class="card-info">Jr. Lara Cdra 10</p>
                  <button class="car-btn">Más información</button>
                </div>
              </div>
            </a>
          </div>

          <div class="col-12 col-md-6 col-lg-3 elemento" data-aos="fade-up"  data-aos-duration="1200">
            <a href='#' class="item-project">
              <div class="card text-center">
                <img src="/assets/img/cards-casas/casa-tacshana/tacshana.JPEG" alt="casa-lara" class="img-fluid rounded-cirle img-card">
                <img src="/assets/img/direcciones/parubamba.svg" width="246" height="73" class="logo-project" alt="logo audacity" decoding="async" loading="lazy">
                <div class="card-body4">
                  <h1 class="card-title">Casa</h1>
                  <p class="card-sub-title">7 Habitaciones</p>
                  <p class="card-info">Jr. Lara Cdra 10</p>
                  <button class="car-btn">Más información</button>
                </div>
              </div>
            </a>
          </div>

          <div class="col-12 col-md-6 col-lg-3 elemento" data-aos="fade-up"  data-aos-duration="1300">
            <a href='#' class="item-project">
              <div class="card text-center">
                <img src="/assets/img/cards-casas/casa-tacshana/tacshana.JPEG" alt="casa-lara" class="img-fluid rounded-cirle img-card">
                <img src="/assets/img/direcciones/pampa-chica.svg" width="246" height="73" class="logo-project" alt="logo audacity" decoding="async" loading="lazy">
                <div class="card-body5">
                  <h1 class="card-title">Casa</h1>
                  <p class="card-sub-title">7 Habitaciones</p>
                  <p class="card-info">Jr. Lara Cdra 10</p>
                  <button class="car-btn">Más información</button>
                </div>
              </div>
            </a>
          </div>

          <div class="col-12 col-md-6 col-lg-3 elemento" data-aos="fade-up"  data-aos-duration="1400">
            <a href='#' class="item-project">
              <div class="card text-center">
                <img src="/assets/img/cards-casas/casa-tacshana/tacshana.JPEG" alt="casa-lara" class="img-fluid rounded-cirle img-card">
                <img src="/assets/img/direcciones/pueblo-nuevo.svg" width="246" height="73" class="logo-project" alt="logo audacity" decoding="async" loading="lazy">
                <div class="card-body6">
                  <h1 class="card-title">Casa</h1>
                  <p class="card-sub-title">7 Habitaciones</p>
                  <p class="card-info">Jr. Lara Cdra 10</p>
                  <button class="car-btn">Más información</button>
                </div>
              </div>
            </a>
          </div>


          <div class="col-12 col-md-6 col-lg-3 elemento" data-aos="fade-up"  data-aos-duration="1000">
            <a href='#' class="item-project">
              <div class="card text-center">
                <img src="/assets/img/cards-casas/casa-tacshana/tacshana.JPEG" alt="casa-lara" class="img-fluid rounded-cirle img-card">
                <img src="/assets/img/direcciones/tacshana.svg" width="246" height="73" class="logo-project" alt="logo audacity" decoding="async" loading="lazy">
                <div class="card-body7">
                  <h1 class="card-title">Casa</h1>
                  <p class="card-sub-title">7 Habitaciones</p>
                  <p class="card-info">Jr. Lara Cdra 10</p>
                  <button class="car-btn">Más información</button>
                </div>
              </div>
            </a>
          </div>
    </div>
  </div>
</section>
 -->
