<footer>
  <div class="footer-container py-5 bg-gray-300 text-muted">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <h6 class="text-uppercase text-white mb-3">DIRECCIÓN</h6>
          <ul class="list-unstyled">
            <li>
              <span class="text-muted">Cajabamba, Jr. Lara 840</span>
            </li>
            <li>
              <span class="text-muted">INMOBILIARIA DEVILLA</span>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <h6 class="text-uppercase text-white mb-3">CONTACTO</h6>
          <ul class="list-unstyled">
            <li>
              <span class="text-muted">+51 966 023 142 | Servicio al Cliente</span>
            </li>
            <li>
              <span class="text-muted">+51 945 824 225 | Servicio al Cliente</span>
            </li>
            <li>
              <span class="text-muted">inmo.devilla@gmail.com</span>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <h6 class="text-uppercase text-white mb-3">Mapa de sitio</h6>
          <ul class="list-unstyled">
            <li>
              <a class="text-muted" href="#">Conócenos</a>
            </li>
            <li>
              <a class="text-muted" href="#">Proyectos</a>
            </li>
            <li>
              <a class="text-muted" href="#">Escríbenos</a>
            </li>
            <li>
              <a class="text-muted" href="#">Términos y Condiciones</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <h6 class="text-uppercase text-white mb-3">SÍGUENOS EN:</h6>
          <ul class="list-inline">
            <li class="list-inline-item icons">
              <a class="text-muted text-primary-hover" href="https://www.facebook.com/inmo.devilla" target="_blank" title="facebook">
                <i class="bi bi-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item icons">
              <a class="text-muted text-primary-hover" href="https://www.instagram.com/inmo.devilla/" target="_blank" title="instagram">
                <i class="bi bi-instagram"></i>
              </a>
            </li>

            <li class="list-inline-item icons">
              <a class="text-muted text-primary-hover" href="https://www.youtube.com/@inmo.devilla" target="_blank" title="youtube">
                <i class="bi bi-youtube"></i>
              </a>
            </li>

            <li class="list-inline-item icons">
              <a class="text-muted text-primary-hover" href="https://www.tiktok.com/@inmo.devilla" target="_blank" title="tiktok">
                <i class="bi bi-tiktok"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>






































